<span style=' display:table-cell;  vertical-align:middle;'>
<center>


  <h1>Mejores puntajes</h1>
<br>
<table class='table table-striped'>
	<ul id='players'>

	<%$list_gammers.each do |gamer|%>
	    <tr>
				<td><%=gamer%></td>
				
			</tr>
	  <%end%>
	</ul>
</table>
<a href="/"><button  class='btn btn-md btn-info'>Atras</button></a>

</span>
</center>
