<span style=' display:table-cell;  vertical-align:middle;'>
<center>
  <h1>Mejores puntajes</h1>
<br>
<table id='players' class='table table-striped'>
  <th>
    <td><b>Usuario</b></td>
    <td><b>Puntaje</b></td>
  </th>
  <%place=1%>
	<%$list_gammers.each do |gamer|%>
	    <tr>
        <td align='right'><%=place%>)</td>
				<td><%=gamer[0]%></td>
  			<td><%=gamer[1]%></td>
        <%place+=1%>
			</tr>
	  <%end%>
</table>
<a href="/"><button  class='btn btn-md btn-info'>Atras</button></a>

</span>
</center>
