

<span style=' display:table-cell;  vertical-align:middle;'>
<center>


  <h1>Palabra clave</h1>
<br>
<form name="confirmation" action="/confirmationcreate" method="post">
  <input name="secret" type="text" required>
  <input id='indentificate' class='btn btn-md btn-success' type="submit" value="Identificate">
</form>
<br>
<img src='/images/key.png' id="key" width='250px'>

</span>
</center>
