<html>
<body>
<center>

<h1>Crear palabra</h1>
<label id= "word"></label>
<form name="createword" action="/createword" method="post">
  <input id="new_letter" type="text">
  <input id = "create" type="submit" value="crear">

</form>
</center>
</body>
</html>

		