
<span style=' display:table-cell;  vertical-align:middle;'>
<center>

<h1>Crear palabra</h1>
<label id= "word">
  <h1> <%=$new_word%></h1>
</label>
<form id='word' name="createword" action="/createword" method="post">
  <label> Nueva palabra: </label><br>
  <input name="new_letter" type="text" required><br><br>
  <label> Descripción:</label><br>
  <input name="description" type="text" size='50px' required><br><br>
  <input class='btn btn-md btn-success' id = "create" type="submit" value="Crear">
  <a href="/"><button  class='btn btn-md btn-info'>Atras</button></a>
</form>


</span>
</center>
