

<h1> Que mala suerte! </h1>

<h3> ¿Quieres intentarlo de nuevo? </h3>
<br>
<img id='perdiste' src='/images/perdiste.jpg'>
<br><br>
<a href="/"><button id='denuevo' class='btn btn-sm btn-primary'>Jugar de Nuevo</button></a>
