

<h1 style='color: #9E0E3C;'> ¡Que mala suerte! </h1>
<br>
<img id='perdiste' src='/images/perdiste.jpg' class='img-circle' >
<br><br>
<h4> ¿Quieres intentarlo de nuevo? </h4>

<a href="/"><button id='denuevo' class='btn btn-sm btn-primary'>Jugar de Nuevo</button></a>
