  <span style=' display:table-cell; vertical-align:middle;'>
        <center>
          <img src='/images/logo_name.jpg' width='350px'>
        <p>
          <h3>¡Bienvenido!</h3>
        </p>
        <br>
        <img id='logo' src='/images/happycat.jpg' width='200px'><br><br>
          <a href="/play"><button id='play' class='btn btn-md btn-success'>Empezar a jugar</button></a><br><br>
           <a href="/createword"><button id='create_word' class='btn btn-md btn-info'>Crear palabra</button></a>
           <a href="/list"><button id='list_words' class='btn btn-md btn-info'>Listar palabras</button></a>

        </center>
  </span>
