
        <center>
        <p>
          <h2>Bienvenido a</h2>
          <h1>Colgato<br></h1>
        </p>
        <br>
        <img id='logo' src='/images/logo.png'><br><br><br>
          <a href="/play"><button id='play' class='btn btn-md btn-success'>Empezar a jugar</button></a>
        </center>
