
        <center>
        <p>
          <h2>Bienvenido a</h2>
          <h1>Colgato<br></h1>
        </p>
        <br>
        <img id='logo' src='/images/logo.png'><br><br><br>
          <a href="/play"><button id='play' class='btn btn-md btn-success'>Empezar a jugar</button></a>
           <a href="/createword"><button id='create_word' class='btn btn-md btn-success'>Crear palabra</button></a>
           <a href="/list"><button id='list_words' class='btn btn-md btn-success'>Listar palabras</button></a>

        </center>
