<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/application.css" rel="stylesheet">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<body>
<div class='square-box'>
  <div class='square-content'>
    <div>
      <span>
          <!--p style='border-bottom: 1px solid #000; padding-bottom:20px;'-->
        <%=yield%>
      </span>
    </div>
  </div>
</div>
</body>
