  <span style=' display:table-cell; vertical-align:middle;'>
<h1>Lista de palabras</h1>

<table class='table table-striped'>
	<ul id='words'>
	<%$list_words.each do |word|%>
	    <tr>
				<td><%=word%></td>
				<td>
					<form id="delete" action="/delete" method="post">
						<%="<input type='hidden' name='val' value="+word+">"%>
							<%="<input class='btn btn-xs btn-danger' type='submit' id='Borrar"+word+"' value='Borrar'>"%>
					</form>
				</td>
			</tr>
	  <%end%>
	</ul>
</table>
</span>
