<html>
<body bgcolor="#BDBDBD">
<center>

<h1>Adivina la palabra!</h1>
<br>
<br>
<br>




<%=  @letter%>
<br>



<%=  $guess%>
<form name="play" action="/play" method="post">
  <input name="letter" type="text">
  <input type="submit" value="Inténtalo!">

</form>
</center>
</body>
</html>
