<html>
<body>
<center>

<h1>Adivina la palabra!</h1>
<%=$image%>
<h1> <%=$letter%></h1>
<h1>
  <%$guess.each do |letter|%>
    <%=letter%>
  <%end%>
</h1>
<form name="play" action="/play" method="post">
  <input name="letter" type="text">
  <input type="submit" value="Inténtalo!">

</form>
</center>
</body>
</html>
