<center>
<h1>
  Adivina la palabra!<br>
  <%=$image%><br>
  <%=$letter%><br>
  <%$juego.guess.each do |letter|%>
    <%=letter%>
  <%end%>
</h1>
<form name="play" action="/play" method="post">
  <input name="letter" type="text">
  <input type="submit" value="Inténtalo!">
</form>
</center>
