<center>
<h3>
  Adivina la palabra!<br><br>
  <%=$image%><br>
  <%=$letter%><br>
  <%$juego.guess.each do |letter|%>
    <%=letter%>
  <%end%>
</h3>
<form name="play" action="/play" method="post">
  <input name="letter" type="text">
  <input id='play' class='btn btn-sm'type="submit" value="Inténtalo!">
</form>
</center>
