<span style='display:table-cell; vertical-align:middle;'>
<h3><%=$name%></h3>
<form name="register" action="/register" method="post">
  <input name="player_name" type="text" required>
  <input id='name' class='btn btn-sm' type="submit" value="Registrate">
</form>
</span>
