

<h1 style='color: #094F84;'> ¡Felicidades! </h1>
<h4>Adivinaste la palabra <b style='color: #9E0E3C;'><%=$juego.word.join%></b></h4>
<br>
<img id='ganaste' src='/images/ganaste.jpg' class='img-circle' width="200px">
<br><br>
<h4>¿Quieres probar otra palabra?</h4>
<a href="/play"><button id='again' class='btn btn-sm btn-primary' >Siguiente palabra</button></a>
<a href="/register"><button id='end' class='btn btn-sm btn-danger' >Terminar el juego</button></a>
