

<h1> Felicidades! </h1>

<h3> ¿Quieres probar otra palabra? </h3>
<br>
<img id='ganaste' src='/images/ganaste.jpg' class='img-circle' width="200px">
<br><br>
<a href="/"><button id='again' class='btn btn-sm btn-primary' >Jugar de Nuevo</button></a>
